@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
*{
    margin: 0;
    border: 0;
    box-sizing:border-box;
}
body {
  font-size: 16px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

header,
main,
footer {
  /*margin: 1rem;*/
  position: relative;
}
footer{
    text-align: center;
}
main{
    background-color: #d8d6d6;
    padding: 10px;
}
.cards{
    /*display: flex;
    flex-direction:row;
    flex-wrap:wrap;*/
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    align-items: center ;

}
header h1{
   color: blueviolet;
   font-size: 1.5rem;
   text-align: center;
   text-shadow: 0 0 15px #777;
   padding: 15px;
   
}
section{
    flex-grow: 1;
    border: 1px solid black;
    margin: 0.25rem;
    padding: 0.35rem;
    background-color: #abe;
    border: 1px solid #bbb;
    display: flex;
    flex-direction: column;
    align-items: center;
}
section h2{
    display: inline-block;
    color: rgb(82, 3, 82);
    text-align: center;
    margin: 5px 0 5px 0;
}
section span:nth-child(2){
    display: inline-block;
    margin-top: 10px;
    font-size: 0.9rem;
}
section span:nth-child(3){
    display: inline-block;
    margin-bottom: 15px;
    font-size: 0.9rem;
}
section img{
    width: 60%;
    margin: 0 auto;
    width: 250px;
    height: 322px;
}