main{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    margin: 0 auto;
    background-color: #ddd;
}
main div{
    border:none;
    height: 0;
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa';
    font-size: 0.8rem;
    background:none
}
main h1{
    display: block;
    text-align: center;
    font-family: var(--heading-font);
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 1.2rem;
    margin: 20px 20px;
}
form{
    grid-column: 1/2;
    grid-row: 2/3;
    display: grid;
    border: 1px solid rgb(58, 20, 226);
    grid-gap: 0.50rem;
    grid-template-columns: 1fr;
    align-items: center;
    padding: 25px;
    background-color: #7A98E9;
}
input:focus,
textarea:focus,
select:focus {
    background-color: #ddd;
}
label{
    grid-column: 1/2;
    font-family: var(--paragraph-font);
    font-weight: bold;
    
}
label,
input,
textarea,
select,
button {
    padding: 0.50rem;
}
form input[type="submit"]{
    background-color: rgb(13, 216, 165);
    border-radius: 5px;
    font-family: var(--paragraph-font);
    font-weight: bold;
    font-size: 1rem;
    padding: 15px;
}
.membership{
    border: 1px solid rgb(1, 80, 34);
    height: auto;
    padding: 25px;
    background-color: #67D692;
}
.membership h2{
    display: inline-block;
    margin: 15px 0 0 15px;
    font-family: var(--heading-font);
    font-size: 1.4rem;
}
.membership p{
    margin: 15px 15px;
}
.member_desc{
    height: auto;
}
.member_desc h3{
    margin: 5px 0 0 15px;
}
.member_desc h4{
    margin: 5px 0 0 15px;
}
.member_desc p{
    margin: 5px 0 0 15px;
}
.member_desc ul{
    margin: 5px 0 15px 30px;
}
.thanks{
    width: 100%;
}
@media only screen and (min-width:35rem){
    main h1{
        font-size: 1.4rem;
    }
    .membership p{
        font-size: 0.9rem;
    }
    .member_desc h3{
        font-size: 1rem;
    }
    .member_desc h4{
        font-size: 0.9rem;
    }
    .member_desc p{
        font-size: 0.9rem;
    }
    .member_desc ul{
        font-size: 0.9rem;
    }
}
@media only screen and (min-width: 1024px){
    main{
        width: 70%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        padding: 25px;
    }
    main h1{
        margin: 25px 0 25px 0;
        grid-column: 1/3;
        font-size: 1.6rem;
    }
    form{
        grid-template-columns: 1fr 2fr;
    }
    .membership{
        grid-row: 2/3;
        grid-column: 2/3;
    }
    .thanks{
        grid-column: 1/3;
        width: 80%;
        margin: 25px auto;
    }
}
