main{
    display: block;
    border: 1px dashed red;
}
main div{
    border:none;
    height: 0;
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa';
    font-size: 0.8rem;
    background:none
}
main h1{
    text-align: center;
}
form{
    display: grid;
    border: 1px solid blue;
    grid-gap: 0.35rem;
    grid-template-columns: 1fr 1fr;
    width: 425px;
    margin: 0 auto;
    align-items: center;
}
label{
    text-align: right;
}
label,
input,
textarea,
select,
button {
	padding: 0.35rem;
}