main{
    display: block;
    border: 1px dashed red;
}
main div{
    border:none;
    height: 0;
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa';
    font-size: 0.8rem;
    background:none
}
main h1{
    display: block;
    text-align: center;
    font-family: var(--heading-font);
    margin: 25px 0 0 0;
}
form{
    display: grid;
    border: 1px solid blue;
    grid-gap: 0.50rem;
    grid-template-columns: 1fr 2fr;
    width: 600px;
    margin: 25px auto;
    align-items: center;
    padding: 25px;
}

/*label{
    text-align: right;
}*/
input:focus,
textarea:focus,
select:focus {
	background-color: #ddd;
}
label{
    grid-column: 1/2;
    font-family: var(--paragraph-font);
    font-weight: bold;
}
label,
input,
textarea,
select,
button {
	padding: 0.50rem;
}