@import url('https://fonts.googleapis.com/css2?family=Amaranth&family=Comfortaa:wght@300&display=swap');
:root{
    /* Fonts for heading and paragraphs */
    --heading-font: 'Amaranth';
    --paragraph-font: 'Comfortaa';
    /*Fonts Color*/
    --font-heading-color: rgb(254, 248, 72);

    /* Background Color*/
    --background-div:#7A98E9;

    /* Color Button */
    --color-button: #67D692;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color:  rgb(97, 96, 96);
}
header img{
    width: 70px;
    height: 60px;
}
#date{
    border: 1px solid gray;
    margin:5px;
    padding: 5px;
    text-align: center;
    width: 100%;
    color: white;
    font-family: 'Amaranth';
    font-size: 0.8rem;
    background-color: rgb(126, 126, 126);
}
nav{
    /*background-color: rgb(49, 49, 49);*/
    align-self: flex-start;
    background-color:  rgb(97, 96, 96);
}
nav button {
    margin: .6rem 2vw; 
    background: transparent;
    border: none;
    font-size: 1.1rem;
    border: 1px solid rgb(126 126 126);
    color: white;
    text-align: right;
    padding: 5px;
}
.social{
   padding-top: 15px;
}
.social i:nth-child(1){
    margin-right: 5px;
    margin-left: 5px;
    color: rgb(7, 27, 94);
}
.social i:nth-child(2){
    margin-left: 5px;
    margin-right: 5px;
    color: rgb(6, 94, 209);
}
.headings{
    font-family: 'Amaranth';
    color: white;
}
.headings h3{
    margin-top: 8px;
    font-size: 0.8rem;
}
.headings h2{
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 0.9rem;
}
nav ul{
    display: block;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
header nav ul li a{
    display: block;
    padding: 15px;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}
header nav ul li a:hover{
    background-color: rgb(99, 97, 97);
}


nav ul { display:none;}
nav ul.open {display: block;}

#hamburguerBtn span:nth-child(1) {display: block;}
#hamburguerBtn span:nth-child(2) {display: none;}

#hamburguerBtn.open span:nth-child(1) {display: none;}
#hamburguerBtn.open span:nth-child(2) {display: block;}
main{
    padding: 5px;
    display: flex;
    flex-direction: column;
}

main div{
    width: 100%;
    height: 150px;
    border: 1px solid rgb(143, 142, 142);
    margin:3px auto;
    padding: 10px;
    font-family: 'Comfortaa';
    font-size: 0.8rem;
    background-color: rgb(240, 239, 239);
}
.hero{
    background-image: url(../images/saratoga-springs.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.hero h3{
    color:#fff;
    text-shadow: 2px 2px 5px rgb(107, 106, 106);
    font-family: var(--heading-font);
    font-size: 1.3rem;
}
.hero button{
    display: inline-block;
    padding: 10px;
    width:180px;
    text-align: center;
    background-color: #67D692;
    text-decoration: none;
    border:none;
    border-radius: 10px;
    color: #313131;
    font-size: 1.0rem;
    margin-left: 37%;
    
}
.release{
    background-color: #7A98E9;
}
.release h3{
    display: block;
    text-align: center;
    font-family: var(--heading-font);
    font-size: 1.3rem;
    color: var(--font-heading-color);
}
.release p{
    margin-top: 5px;
    color: white;
    font-family: var(--paragraph-font);
    line-height: 1.2rem;
}
.event_weather{
    display: flex;
    flex-direction: column;
    order:4;
    border: 0;
    height: 100%;
    background-color: var(--background-div);
}
.event{
    background-color: #7A98E9;
    height: auto;
}
.event h3{
   display: block;
   text-align: center; 
   margin-bottom: 5px;
   font-family: var(--heading-font);
   font-size: 1.3rem;
   color: var(--font-heading-color);
}
.event h4{
   display: block;
   text-align: center;
   color:white;
   margin-bottom: 5px;
}
.event p{
    margin-top: 10px;
    text-align: center;
    color:white;
    font-family: var(--paragraph-font);
    line-height: 1.2rem;
}
.event a{
    display: block;
    text-align: center;
    text-decoration: none;
    color: yellow;
}
.weather{
    background-color: #7A98E9;
    height: auto;
}
.weather h3{
    display: block;
    text-align: center;
    font-family: var(--heading-font);
    font-size: 1.3rem;
    color: var(--font-heading-color);
}
.weather_info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: auto;
    background-color:  #7A98E9;
    align-items: center;
    border: none;
    font-weight: bold;
    font-size: 1.4rem;
}
.weather_info span{
    color: white;
}
.weather img{
    width: 80px;
}
.weather h4{
    display: block;
    text-align: right;
    color:white;
    border-bottom: 1px solid white;
    padding-bottom: 8px;
}
.weather_details{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: auto;
    background-color:  #7A98E9;
    align-items: center;
    border: none;
    font-size: 0.9rem;
}
.weather_details span{
    color: white;
}
.spotlight{
    width: 100%;
    height: 100%;
    /*border: 1px solid #555;*/
    margin:3px auto;
    padding: 10px;
    font-family: 'Comfortaa';
    font-size: 0.8rem;
    background-color: var(--background-div);
}
.spotlight1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*background-image: url(../images/billboards-marketing.jpg);*/
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/billboards-marketing.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.spotlight1 h3{
    text-shadow: 2px 2px 5px rgb(107, 106, 106);
    /*color: white;*/
    color: var(--font-heading-color);
    font-size: 1.3rem;
    font-family: 'Amaranth';
}
.spotlight1 p{
    color: white;
    text-shadow: 2px 2px 5px rgb(107, 106, 106);
    font-size: 0.9rem;
    font-family: 'Comfortaa';

}
.spotlight2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*background-image: url(../images/billboards-marketing.jpg);*/
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/townstorage.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.spotlight2 h3{
    text-shadow: 2px 2px 5px rgb(107, 106, 106);
    /*color: white;*/
    color: var(--font-heading-color);
    font-size: 1.3rem;
    font-family: 'Amaranth';
}
.spotlight2 p{
    color: white;
    text-shadow: 2px 2px 5px rgb(107, 106, 106);
    font-size: 0.9rem;
    font-family: 'Comfortaa';
}
.join{
    display: none;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:  rgb(97, 96, 96);
    padding: 10px;
}
.footer1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer img{
    width: 160px;
    height: 150px;
}
footer h2{
    font-family: 'Amaranth';
    color: white;
}
footer hr{
    margin-top:10px;
    margin-bottom:10px;
    width:90%;
}
footer .footer1 p{
    font-family: 'Comfortaa';
    font-size: 0.8rem;
    color:white;
    margin: 7px 0;
}
.footer2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer .footer2 span{
    font-family: 'Comfortaa';
    font-size: 0.8rem;
    color:white;
    margin: 2px 0;
}
.title_address{
    text-align: center;
}
.phone_location{
    text-align: center;
}

